<body>
  <div class="header-area">
    <ion-card>
      <div>
        <ion-img class="gbr" src="/assets/permo.png" alt="Permo Logo"></ion-img>
        <ion-title class="atas">
          PERTANIAN MOBILE
        </ion-title>
      </div>
    </ion-card>
    <ion-button class="msk" href="/tabs/tab1">Masuk</ion-button>
  </div>

  <h1>
    Aplikasi Serba Bisa, Untuk Pertanian
  </h1>

  <h2>
    Apapun tentang pertanian, di satu aplikasi
  </h2>

  <h3>
    cari informasi tentang berbagai tumbuhan
  </h3>

  <div class="button-container">
    <ion-button class="dft" (click)="navigateToDaftar()">Daftar Sekarang</ion-button>
  </div>
</body>