<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-icon class="ea" name="earth"></ion-icon>
      <ion-title class="ilmu">
        ILMU TANAH
      </ion-title>

      <ion-fab>
        <ion-fab-button href="/tabs/tab2">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <!-- Searchbar -->
      <ion-searchbar class="search"
        [(ngModel)]="searchIsi"  
        placeholder="Mau cari apa nih?" 
        showCancelButton="focus" 
        animated>
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<!-- Isi Menu -->
<ion-content [fullscreen]="true">
  <ion-list class="tn">
    <ion-item *ngFor="let tan of tanah | filter: searchIsi" (click)="goToIsi(tan)">
      <ion-label>
        <h3>{{tan.title}}</h3>
        <p>{{tan.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>